<link rel="stylesheet" href="/css/home.css">
<div id="home-container">
    <h1> Video Conferencing
        <br>
        and Chatting </h1>
    <div id="inputs">
        <form action="/call" method="GET">
            <button type="submit"><i class="fas fa-webcam"></i> New Call</button>
        </form>
        <form action="/calljoin" method="POST" id="Meet-Code">
            <input type="text" placeholder="Enter a Code...." required="true" name="code">
            <button type="submit">Join</button>
        </form>
    </div>
</div>